@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Open Sans', system-ui, sans-serif;
    }
    h1 {
        @apply text-3xl;
        font-family: 'Handjet', sans-serif;
      }
      h2 {
        @apply text-xl;
      }
  }

 .my-custom-style {
    font-size:100px
  }

 